body {
    background-image: url("/toptrumps/mainimg/familyback.jpg");
    background-size: cover;
}

#shuffle {
    position: relative;
    animation-name: swing;
    animation-duration: 3s;
    height: 400px;
    opacity: 0;
    z-index: 3;

}
@keyframes swing {
    0%{
        transform: translateY(100%);
        opacity: 1;
        
    }
    50%{
        transform: translateY(0%);
        opacity: 1;
        
    }
    100%{
        transform: translateY(300%);
        opacity: 1;
    }
}
#deck1 {
    position: relative;
    top: -400px;
    left: 90px;
    z-index: 2;
}
#deck2 {
    position: relative;
    top: -400px;
    left: 1050px;
    z-index: 2;
}
#description {
    position: relative;
    text-align: center;
    background-color: antiquewhite;
    height: 300px;
    width: 1000px;
}
#description {
    top: -380px;
    left: 300px;
}
#p {
    background-color: black
}
#draw {
    position: relative;
    height: 50px;
    width: 100px;
    top: 150px;
    left: 1400px;
    z-index: 2;
    background-color: red;
}